In [1]:
import pandas as pd
technologies =  ['Spark','PySpark','Java','PHP']

# Create DataFrame from list
df=pd.DataFrame(technologies)
print(df)

         0
0    Spark
1  PySpark
2     Java
3      PHP

In [2]:

# Create DataFrame from multiple lists
technologies =  ['Spark','PySpark','Java','PHP']
fee = [20000,20000,15000,10000]
duration = ['35days','35days','40days','30days']
df = pd.DataFrame(list(zip(technologies,fee,duration)))
print(df)

         0      1       2
0    Spark  20000  35days
1  PySpark  20000  35days
2     Java  15000  40days
3      PHP  10000  30days

In [3]:

# Create from multiple lists
columns=['Courses','Fee','Duration']
index=['r0','r1','r2','r3']
df = pd.DataFrame(list(zip(technologies, fee,duration)),
                 columns=columns,index=index )
print(df)

    Courses    Fee Duration
r0    Spark  20000   35days
r1  PySpark  20000   35days
r2     Java  15000   40days
r3      PHP  10000   30days

In [4]:

# Creating from multi list (list of list)
courses = [['Spark','20000', '35days'],['Pyspark','20000','35days'],
           ['Java','15000','40days'],['PHP','10000','30days']]
df = pd.DataFrame(courses,columns=columns,index=index )
print(df)

    Courses    Fee Duration
r0    Spark  20000   35days
r1  Pyspark  20000   35days
r2     Java  15000   40days
r3      PHP  10000   30days

In [5]:

# Creating from dict of list
courses = {'Courses':['Spark','PySpark','Java','PHP'],
           'Fee':[20000,20000,15000,10000],
           'Duration':['35days','35days','40days','30days']}
df = pd.DataFrame(courses,index=index )
print(df)

    Courses    Fee Duration
r0    Spark  20000   35days
r1  PySpark  20000   35days
r2     Java  15000   40days
r3      PHP  10000   30days

In [6]:

import pandas as pd

# Create DataFrame from list
technologies =  ['Spark','PySpark','Java','PHP']
df=pd.DataFrame(technologies)
print(df)

# Create DataFrame from multiple lists
technologies =  ['Spark','PySpark','Java','PHP']
fee = [20000,20000,15000,10000]
duration = ['35days','35days','40days','30days']
df = pd.DataFrame(list(zip(technologies, fee,duration)))
print(df)

# Add column names and index labels
columns=['Courses','Fee','Duration']
index=['r0','r1','r2','r3']
df = pd.DataFrame(list(zip(technologies, fee,duration)),
                 columns=columns,index=index )
print(df)

# Creating from multi list (list of list)
courses = [['Spark','20000', '35days'],['Pyspark','20000','35days'],
           ['Java','15000','40days'],['PHP','10000','30days']]
df = pd.DataFrame(courses,columns=columns,index=index )
print(df)

         0
0    Spark
1  PySpark
2     Java
3      PHP
         0      1       2
0    Spark  20000  35days
1  PySpark  20000  35days
2     Java  15000  40days
3      PHP  10000  30days
    Courses    Fee Duration
r0    Spark  20000   35days
r1  PySpark  20000   35days
r2     Java  15000   40days
r3      PHP  10000   30days
    Courses    Fee Duration
r0    Spark  20000   35days
r1  Pyspark  20000   35days
r2     Java  15000   40days
r3      PHP  10000   30days

In [10]:

import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python"],
    'Fee' :[22000,25000,np.nan,24000],
    'Duration':['30day',None,'55days',np.nan],
    'Discount':[1000,2300,1000,np.nan]
          }
df = pd.DataFrame(technologies)

# Write DataFrame to CSV File with Default params.
df.to_csv("courses.csv")